# ignore anything that ends with a tilde ~
*~

# remove documentation directory
documentation/

# remove object files and block code- layout files
phase2/

#remove text files
*.txt

# remove assembly files
*.asm
